<div class="container-fluid vh-100">
  <div class="row h-100">
    <div class="col-8 fondo-login h-100">
    </div>
    <div
      class="col-4 bg-dark d-flex flex-column justify-content-center align-items-center"
    >
      <h2 class="text-white">LOGIN</h2>
      <form class="w-75" action="/iniciar-sesion" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label text-white">Email
            address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
          />
        </div>
        <div class="mb-3">
          <label
            for="exampleInputPassword1"
            class="form-label text-white"
          >Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        {{#if errorMessage}}
          <div id="error">{{errorMessage}}</div>
        {{/if}}

        <button type="submit" class="btn btn-warning text-white">Submit</button>
      </form>
    </div>
  </div>
</div>