body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.bg-image {
  background-image: url("../images/man-watching-streaming-service-his-laptop.jpg");
  background-size: cover;
}

.bg-image::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.525);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
}

.fondo-login {
  background-image: url("../images/image-login.jpg");
  background-size: cover;
}

#error {
  background-color: rgb(255, 188, 188);
  padding: 10px;
  text-align: center;
  font-size: .9em;
  margin-bottom: 20px;
}